

.lead-section{
    
    padding: 120px 0;
    
    
    h1{
        font-size: 1.5rem;
        font-family: $font-roboto;
        font-weight: $font-weight-bold;
    }
    
    
    p{
        font-family: $font-roboto;
    }
}


@media(min-width:576px){
    
    .lead-section{
        padding: 140px 0;
        
        h1{
            font-size: 2.5rem;
        }
    }
}