
$footer-bg-transparent: rgba(10,10,10,0.7);
$footer-cover-bg1:#5cafd7;
$footer-cover-bg: #10638a;


footer{

    background:$footer-bg-transparent;

    img{
        padding-top: 180px;
        padding-bottom: 25px;
        max-width: 130px;
    }

    .footer-navigation{
        li{
            display: inline-block;

            &:last-of-type a{
                border-right: 1px solid transparent;
            }

            a{
                text-decoration: none;
                text-transform: uppercase;
                color:white;
                border-right: 1px solid #ccc;
                font-size: 0.8rem;
                padding:3px;
                &:hover{
                    color:$header-text-and-border-color;
                }

            }
        }

    }

    .social-icons{
        li{
            display: inline-block;

            .fa{
                font-size: 2.5rem;
                color: $white;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .cover{
        position: absolute;
        top:0;
        width: 100%;

        .cover-article,
        .cover-article1{
            background: $footer-cover-bg1;
            p{
                font-size: 1rem;
            }

            .cover-link{
                font-size: 2rem;
            }
            .fa{
                font-size: 2.5rem;
                text-align: center !important;
            }
        }
        .cover-article1{
            background: $footer-cover-bg;
        }
    }

}

@media(min-width:576px){

    footer{

        img{
            padding-top: 160px;
        }
        
        .footer-navigation{
            li{
                a{
                    font-size: 1rem;
                    padding:6px;
                }
            }
        }
    }
}

@media(min-width:768px){

    footer{
        img{
            padding-top: 120px;
            max-width: 170px; 
        }
        
        .footer-navigation{
            li{
                a{
                    font-size: 1.2rem;
                    padding:10px;
                }
            }
        }

    }
}

@media(min-width:992px){
    footer{
        .cover{

            .cover-article,
            .cover-article1{
                p{
                    font-size: 1.2rem;
                }

                .cover-link{
                    font-size: 2.2rem;
                }
                .fa{
                    font-size: 2.8rem;
                }
            }
        }
    }
}

@media(min-width:1200px){
    footer{
        .cover{

            .cover-article,
            .cover-article1{
                p{
                    font-size: 1.5rem;
                }

                .cover-link{
                    font-size: 2.5rem;
                }
                .fa{
                    font-size: 3rem;
                }
            }
        }
    }
}