
.gallery-section{
    .gallery-item{
        figure {
            position: relative;

            img{
                width: 100%; 
                display: block;
            }
        }

        .hover {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            
            .fa{
                border: 1px solid #15a4fa;
                background: #15a4fa;
                padding: 12px;
                border-radius: 3px;
                color: #fff;
                font-size: 1rem;
                text-decoration: none;
            }
        }
    }
}


@media (min-width: 992px) {
    .gallery-section{
        .gallery-item{
            figure{
                overflow: hidden;
            }

            .hover {
                background: #15a4fa;
                display: none !important;

            }

            &:hover .hover {
                display: flex !important;

            }

            .hover{
                .fa{
                    border: 1px solid #fff;
                    opacity: 1;
                    transition: 0.3s ease;

                    &:hover {
                        background: rgba(255, 255, 255, 0.4);
                    }
                }

            }
        }
    }

}



